.pagetitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #379683;
}
.recipeList {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
.bodyclass {
    background-color: #EDF6E1;
}